{{!-- Custom css --}}
{{!-- <link rel="stylesheet" href="/css/style.css"> --}}

<div class="card">
    <div class="card-body">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora sed molestiae culpa, a nulla voluptas
            iusto autem doloremque dicta?</p>
    </div>
</div>