{{!-- Custom css --}}
<link rel="stylesheet" href="/css/index.css">
{{!--  --}}
<header class="main-header">
    <div class="background-overlay text-white d-block  py-1 ">

        <div class="text mt-5">
            <p class="connect">
                <strong>Connect</strong>
            </p>
            <p class="animationc">
                <span class="word wisteria">Sensor</span>
                <span class="word belize">Motors</span>
                <span class="word pomegranate">Hardware</span>
                <span class="word green"> the World</span>
                <span class="word midnight">Lights</span>
            </p>
        </div>
        <div class="text1 d-flex justify-content-center">
            <span class="d-block connect">
                with
                <strong>Software</strong>
            </span>
        </div>

        <div class="container">
            <div class="lightswitch">
                <input type="checkbox" name="switch" id="switch">
                <label for="checkbox"></label>
            </div>
            <div class="imglayer">
                <img src="./assets/Night_4.png" alt="imagen de las tiendas" id="shops">
            </div>

        </div>
    </div>
</header>

<script src="/javascript/index.js"></script>

